<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honghao.cloud.userapi.domain.mapper.master.CloudOrderOvertimeMapper">
  <resultMap id="BaseResultMap" type="com.honghao.cloud.userapi.domain.entity.CloudOrderOvertime">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId" />
    <result column="delivery_man_id" jdbcType="VARCHAR" property="deliveryManId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="timeout_type" jdbcType="VARCHAR" property="timeoutType" />
    <result column="over_time" jdbcType="INTEGER" property="overTime" />
    <result column="fine_amount" jdbcType="DOUBLE" property="fineAmount" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, delivery_id, delivery_man_id, phone, order_id, timeout_type, over_time, fine_amount, 
    create_by, update_by, create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cloud_order_overtime
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cloud_order_overtime
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.honghao.cloud.userapi.domain.entity.CloudOrderOvertime">
    insert into cloud_order_overtime (id, delivery_id, delivery_man_id, 
      phone, order_id, timeout_type, 
      over_time, fine_amount, create_by, 
      update_by, create_time, update_time, 
      delete_flag)
    values (#{id,jdbcType=CHAR}, #{deliveryId,jdbcType=VARCHAR}, #{deliveryManId,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, #{timeoutType,jdbcType=VARCHAR}, 
      #{overTime,jdbcType=INTEGER}, #{fineAmount,jdbcType=DOUBLE}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.honghao.cloud.userapi.domain.entity.CloudOrderOvertime">
    insert into cloud_order_overtime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="deliveryManId != null">
        delivery_man_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="timeoutType != null">
        timeout_type,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
      <if test="fineAmount != null">
        fine_amount,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="deliveryId != null">
        #{deliveryId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryManId != null">
        #{deliveryManId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="timeoutType != null">
        #{timeoutType,jdbcType=VARCHAR},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=INTEGER},
      </if>
      <if test="fineAmount != null">
        #{fineAmount,jdbcType=DOUBLE},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honghao.cloud.userapi.domain.entity.CloudOrderOvertime">
    update cloud_order_overtime
    <set>
      <if test="deliveryId != null">
        delivery_id = #{deliveryId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryManId != null">
        delivery_man_id = #{deliveryManId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="timeoutType != null">
        timeout_type = #{timeoutType,jdbcType=VARCHAR},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=INTEGER},
      </if>
      <if test="fineAmount != null">
        fine_amount = #{fineAmount,jdbcType=DOUBLE},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honghao.cloud.userapi.domain.entity.CloudOrderOvertime">
    update cloud_order_overtime
    set delivery_id = #{deliveryId,jdbcType=VARCHAR},
      delivery_man_id = #{deliveryManId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=CHAR},
      timeout_type = #{timeoutType,jdbcType=VARCHAR},
      over_time = #{overTime,jdbcType=INTEGER},
      fine_amount = #{fineAmount,jdbcType=DOUBLE},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>