<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honghao.cloud.userapi.domain.mapper.WaybillBcListDetailMapper">
  <resultMap id="BaseResultMap" type="com.honghao.cloud.userapi.domain.entity.WaybillBcListDetail">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="w_id" jdbcType="CHAR" property="wId" />
    <result column="unit_id" jdbcType="CHAR" property="unitId" />
    <result column="kapp_id" jdbcType="CHAR" property="kappId" />
    <result column="kapp_name" jdbcType="VARCHAR" property="kappName" />
    <result column="kapp_phone" jdbcType="VARCHAR" property="kappPhone" />
    <result column="kapp_action" jdbcType="TINYINT" property="kappAction" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="is_single" jdbcType="TINYINT" property="isSingle" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, w_id, unit_id, kapp_id, kapp_name, kapp_phone, kapp_action, longitude, latitude, 
    is_single, create_date, create_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill_bc_list_detail
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from waybill_bc_list_detail
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListDetail">
    insert into waybill_bc_list_detail (id, w_id, unit_id, kapp_id, 
      kapp_name, kapp_phone, kapp_action, 
      longitude, latitude, is_single, 
      create_date, create_time, delete_flag
      )
    values (#{id,jdbcType=CHAR}, #{wId,jdbcType=CHAR}, #{unitId,jdbcType=CHAR}, #{kappId,jdbcType=CHAR}, 
      #{kappName,jdbcType=VARCHAR}, #{kappPhone,jdbcType=VARCHAR}, #{kappAction,jdbcType=TINYINT}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{isSingle,jdbcType=TINYINT}, 
      #{createDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListDetail">
    insert into waybill_bc_list_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wId != null">
        w_id,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="kappId != null">
        kapp_id,
      </if>
      <if test="kappName != null">
        kapp_name,
      </if>
      <if test="kappPhone != null">
        kapp_phone,
      </if>
      <if test="kappAction != null">
        kapp_action,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="isSingle != null">
        is_single,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="wId != null">
        #{wId,jdbcType=CHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=CHAR},
      </if>
      <if test="kappId != null">
        #{kappId,jdbcType=CHAR},
      </if>
      <if test="kappName != null">
        #{kappName,jdbcType=VARCHAR},
      </if>
      <if test="kappPhone != null">
        #{kappPhone,jdbcType=VARCHAR},
      </if>
      <if test="kappAction != null">
        #{kappAction,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="isSingle != null">
        #{isSingle,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListDetail">
    update waybill_bc_list_detail
    <set>
      <if test="wId != null">
        w_id = #{wId,jdbcType=CHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=CHAR},
      </if>
      <if test="kappId != null">
        kapp_id = #{kappId,jdbcType=CHAR},
      </if>
      <if test="kappName != null">
        kapp_name = #{kappName,jdbcType=VARCHAR},
      </if>
      <if test="kappPhone != null">
        kapp_phone = #{kappPhone,jdbcType=VARCHAR},
      </if>
      <if test="kappAction != null">
        kapp_action = #{kappAction,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="isSingle != null">
        is_single = #{isSingle,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListDetail">
    update waybill_bc_list_detail
    set w_id = #{wId,jdbcType=CHAR},
      unit_id = #{unitId,jdbcType=CHAR},
      kapp_id = #{kappId,jdbcType=CHAR},
      kapp_name = #{kappName,jdbcType=VARCHAR},
      kapp_phone = #{kappPhone,jdbcType=VARCHAR},
      kapp_action = #{kappAction,jdbcType=TINYINT},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      is_single = #{isSingle,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into waybill_bc_list_detail
    (id, w_id, unit_id, kapp_id, kapp_name, kapp_phone, kapp_action,
    create_date, create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id},#{item.wId},#{item.unitId},#{item.kappId},#{item.kappName},#{item.kappPhone},#{item.kappAction},
     #{item.createDate},#{item.createTime})
  </foreach>

  </insert>
</mapper>