<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honghao.cloud.userapi.domain.mapper.WaybillBcListExtendMapper">
  <resultMap id="BaseResultMap" type="com.honghao.cloud.userapi.domain.entity.WaybillBcListExtend">
    <id column="w_id" jdbcType="CHAR" property="wId" />
    <result column="cargo_info" jdbcType="VARCHAR" property="cargoInfo" />
    <result column="buying_patterns" jdbcType="TINYINT" property="buyingPatterns" />
    <result column="predict_price" jdbcType="DECIMAL" property="predictPrice" />
    <result column="small_ticket_picture_url" jdbcType="VARCHAR" property="smallTicketPictureUrl" />
    <result column="product_picture_url" jdbcType="VARCHAR" property="productPictureUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    w_id, cargo_info, buying_patterns, predict_price, small_ticket_picture_url, product_picture_url, 
    create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill_bc_list_extend
    where w_id = #{wId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from waybill_bc_list_extend
    where w_id = #{wId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListExtend">
    insert into waybill_bc_list_extend (w_id, cargo_info, buying_patterns, 
      predict_price, small_ticket_picture_url, product_picture_url, 
      create_time, update_time, delete_flag
      )
    values (#{wId,jdbcType=CHAR}, #{cargoInfo,jdbcType=VARCHAR}, #{buyingPatterns,jdbcType=TINYINT}, 
      #{predictPrice,jdbcType=DECIMAL}, #{smallTicketPictureUrl,jdbcType=VARCHAR}, #{productPictureUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListExtend">
    insert into waybill_bc_list_extend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wId != null">
        w_id,
      </if>
      <if test="cargoInfo != null">
        cargo_info,
      </if>
      <if test="buyingPatterns != null">
        buying_patterns,
      </if>
      <if test="predictPrice != null">
        predict_price,
      </if>
      <if test="smallTicketPictureUrl != null">
        small_ticket_picture_url,
      </if>
      <if test="productPictureUrl != null">
        product_picture_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wId != null">
        #{wId,jdbcType=CHAR},
      </if>
      <if test="cargoInfo != null">
        #{cargoInfo,jdbcType=VARCHAR},
      </if>
      <if test="buyingPatterns != null">
        #{buyingPatterns,jdbcType=TINYINT},
      </if>
      <if test="predictPrice != null">
        #{predictPrice,jdbcType=DECIMAL},
      </if>
      <if test="smallTicketPictureUrl != null">
        #{smallTicketPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="productPictureUrl != null">
        #{productPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListExtend">
    update waybill_bc_list_extend
    <set>
      <if test="cargoInfo != null">
        cargo_info = #{cargoInfo,jdbcType=VARCHAR},
      </if>
      <if test="buyingPatterns != null">
        buying_patterns = #{buyingPatterns,jdbcType=TINYINT},
      </if>
      <if test="predictPrice != null">
        predict_price = #{predictPrice,jdbcType=DECIMAL},
      </if>
      <if test="smallTicketPictureUrl != null">
        small_ticket_picture_url = #{smallTicketPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="productPictureUrl != null">
        product_picture_url = #{productPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where w_id = #{wId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honghao.cloud.userapi.domain.entity.WaybillBcListExtend">
    update waybill_bc_list_extend
    set cargo_info = #{cargoInfo,jdbcType=VARCHAR},
      buying_patterns = #{buyingPatterns,jdbcType=TINYINT},
      predict_price = #{predictPrice,jdbcType=DECIMAL},
      small_ticket_picture_url = #{smallTicketPictureUrl,jdbcType=VARCHAR},
      product_picture_url = #{productPictureUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT}
    where w_id = #{wId,jdbcType=CHAR}
  </update>
</mapper>